.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
  }
  
  .quiz-entry {
    position: relative;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9; /* Optional: Adding background to distinguish entries */
    border-radius: 8px;
  }
  
  .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .remove-button {
    background: none;
    border: none;
    color: red;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quiz-fields {
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
    width: 100%; /* Adjusted to full width */
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .login-button {
    width: 100%; /* Adjusted to full width */
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login-button:hover {
    opacity: 0.8;
  }
  